@media (max-width: 992px) {
    

    body {
        padding-bottom: 100%;
    }
    /* Header */
#header .form-control {
    font-size: 12px;
}

/* Akhir Header */

/* Banner */
#banner .row1   {
    margin-top: 120px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgba(255, 153, 0, 0.795), rgba(168, 168, 166, 0.582));
    border-radius: 60px;
    width: 100%;
    height: auto;
}

#banner .text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 80px 0px 20px 80px;
    color: white;
    font-weight: bold; 
}

.button1 {
    font-size: small;
    color: white;
    text-align: left;
    width: 200px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    margin-left: 80px;
}
#banner .fas {
    padding-top: 3px;
}

#banner .button1:hover{
    background-color:rgb(250, 242, 242, 0.3);
    color: coral;
    font-weight:lighter;
    font-style: italic;
    font-weight: bold;
}

.img {
    text-align: right;
    width: 400px;
    height: 300px;
    object-fit: none;
    object-position: 10% 10%;
}

/* Akhir banner */
    
    /* Kategori */
    
    .row3 {
        background-color: thistle;
        border-radius: 20px;
        padding-top: 5px;
    }
    
    .text2 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    /* #kategori .row3 {
        background-color: none;
        border: solid 2px black;
        border-radius: 20px;
    
    } */ 
    
    /* #kategori .button2 {
        font-size: small;
        color: black;
        text-align: center;
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        border-color: rgb(41, 46, 32);
        
    
    } */
    
    /* .row4 {
        padding: 10px 10px 10px 0px;
    } */
    /* Duplikasi css */
    
    /* #barang-terlaris .img-terlaris #rekomendasi, .text3{
        width:10px;
        height: 100px;
    
    } */
    
    /* .text3 {
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .text-right {
        font-size: 20px;
    }
    
    .text4 {
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-right: 20px;
    } */
    
    #kategori .btn {
        background-color: none;
        border: none;
        color:tomato;
        cursor: pointer;
      }
    
      /* span{
        background-color: none;
        color:black;
        font-size:14px;
        padding:5px 0 10px 0;
        display:block;
        font-family:'Josefin Sans';
        letter-spacing:1px;
      } */
    
    /* .card-body {
        text-align: center;
    } */
    
    /* .img2 {
        width: 100px;
        height: auto;
        object-position: center;
    } */
    
    #footer .container {
        margin-top: 30px;
        background-color: rgba(255, 153, 0, 0.795);
        width: 100%;
        height: auto;
        border-radius: 60px;
    }
    
    #footer .row9 {
        padding-top: 20px;
    }
    
    #footer .col-lg-2 {
        padding-top: 25px;
    }
    
    #footer h3 {
        font-size: 20px;
        font-weight: bold;
    }
    #footer h5 {
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
    }
    
    hr {
        color: black;
    }

    #footer .imgf {
        width: 30px;
        height: auto;
    }
 }