body {
    padding-bottom: 5%;
}

/* Navbar */
.text0 {
    padding-left: 0px;
}

.navbar .mark {
    background-color: rgba(255, 153, 0, 0.795);
}

.plc {
    font-size       : small;
    color           : tomato;
    text-align      : left;
    width           : 400px;
    padding         : 5px;
    border-radius   : 10px;
    border          : 1px solid tomato;
    background-color: transparent;
}

#header .btn {
    border-radius: 10px;
    padding      : 5px 20px;
}
/* Akhir navbar */

/* Keranjang */
#keranjang .fas {
    color: tomato;
}

#keranjang h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding    : 20px 0px;
    font-size  : 16px;
    margin-top: 100px;
    cursor: pointer;
}

#keranjang .bg-keranjang {
    background: #918b8b;
    box-shadow: 0px 10px 20px rgba(237, 222, 222, 0.25);
    border-radius: 25px;
    width: 100%;
    height: auto;
}

#keranjang .bg-keranjang-detail {
    background: #918b8b;
    width: 100%;
    height: auto;
}

#keranjang .bg-keranjang-detail span {
    float: right;
}

#keranjang .btn-primary{
    background: linear-gradient(90deg, #F57C00 2.08%, #887664 100%);
    border-radius: 10px;
    border: none;

    
}

/* Footer */
#footer .container {
    margin-top: 30px;
    background-color: rgba(255, 153, 0, 0.795);
    width: 100%;
    height: 300px;
    border-radius: 60px;
}

#footer .row9 {
    padding-top: 20px;
}

#footer .kaki{
    text-align: justify;
    padding-right: 50px;
    font-size: 16px;
}

#footer .col-lg-2 {
    padding-top: 25px;
}

#footer h3 {
    font-size: 20px;
    font-weight: bold;
}
#footer h5 {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

hr {
    color: black;
}

#footer .imgf {
    width: 30px;
    height: auto;
}

/* AKhir footer */

/* #keranjang .col-lg-4 {
    background-color: gainsboro;
} */

